@model DeliveryOrder.Models.Delivery_Order

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>確定刪除此筆資料嗎?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductCount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductCount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Customer_Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Customer_Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="確定刪除" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-primary">返回清單</a>
    </form>
</div>
