@model BOM.Models.ViewModel
@{
    ViewBag.Title = "Index";
}

<h2>@ViewBag.ProductName</h2>
<div class="row">
    <div class="col-md-3">
        @foreach (var item in Model.Products)
        {
            <p>
                @Html.ActionLink(item.ProductName, "Index", new {productId=item.ProductId})
            </p>
        }
    </div>
    <div class="col-md-9">
    <h2 style="text-align:center;">ViewModel打造BOM表</h2>
        <table class="table">
            <tr>
            <th>產品編號</th>
            <th>物料編號</th>
            <th>物料名稱</th>
            <th>物料型號</th>
            <th>物料說明</th>
            <th></th>
            </tr>
            @foreach(var item in Model.Materials)
            {
                <tr>
                <td>@item.ProductId</td>
                <td>@item.MaterialId</td>
                <td>@item.MaterialName</td>
                <td>@item.MaterialModel</td>
                <td>@item.MaterialDescription</td>
                <td>
                    @Html.ActionLink("刪除", "Delete", new { materialId = item.MaterialId }, new { onclick = "return confirm('確定刪除?');", @class = "btn btn-danger" })
                    @Html.ActionLink("編輯", "Edit", new { materialId = item.MaterialId }, new { @class = "btn btn-primary" })
                </td>
                </tr>
            }
        </table>
    </div>
